.coleccion-cartas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
body{
    background-color: #1E1753;
}

.coleccion-mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}


.coleccion-mensaje h3{
  color: white;
  text-align: center;
  margin-bottom: 20px;
 
}


.loader {
    width: 48px;
    height: 48px;
    position: fixed;
    background: #FFF;
    box-sizing: border-box;
    animation: flipX 1s linear infinite;
    z-index: 5;
    top: 50%;
    left: 50%;
  }
  
  @keyframes flipX {
    0% {
      transform: perspective(200px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
      transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
    }
  }
      
  @media only screen and (min-width: 300px) {
    .coleccion-mensaje h3{
      font-size: 24px;
      margin-top: 10px;
    }
    .coleccion-mensaje img{
      width: 60%;
    }
  }
  @media only screen and (min-width: 992px) {
    .coleccion-mensaje h3{
      font-size: 35px;
      margin-top: 20px;
    }
    .coleccion-mensaje img{
      width: 40%;
    }
  }