.custom-titulo{
    color: rgb(220, 220, 220);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
   
}
.custom-titulo img{
    width: 30px;
    height: 30px;
}
.custom-titulo p{
    font-size: 20px;
    color: #e5f645;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 0;
}


.custom-subtitle{
    font-size: 20px;
    color: white !important;
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.29);
    border-radius: 20px; 
}
.custom-imagenes{
    position: relative;
    width: 100%; /* Ajusta el ancho y alto del contenedor según tus necesidades */
  height: 290px;
}
.custom-imagenes-01{
    position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%; 
}
.custom-imagenes-02{
    position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 2;
  width: 50px; 
  margin-left: 10px;    
}
.custom-ataque p{
    margin-bottom: 0px;
    color: white;
}
.custom-defensa p{
    margin-bottom: 0px;
    color: white;
}
.custom-ataque{
    display: flex;
    justify-content: flex-end;
    width: auto;
    font-size: 25px;
    position: absolute;
    z-index: 2;
    right:  0;
    bottom: 60px;
    background-color: red;
    border-radius: 20px; 
    padding-right: 20px;
    padding-left: 20px; 
    margin-right: 10px;        
}
.custom-defensa{
    display: flex;
    justify-content: flex-end;
    width: auto;
    font-size: 25px;
    position: absolute;
    z-index: 2;
    right:  0;
    bottom: 20px;
    background-color: blue;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;  
    margin-right: 10px;    
}

.custom-carta{
    background-color: #0015fa58;
    background-image: radial-gradient(circle at 1px 1px, rgb(76, 76, 76) 1px, transparent 0);
    background-size: 4px 4px;
    width:  18rem;
    margin: 20px;
    border: none;
    border-radius: 0px;

}
.custom-cuerpo-defecto{
    background: rgb(88,8,204);
    background: linear-gradient(0deg, rgba(88,8,204,1) 0%, rgba(88,8,204,0.23862044817927175) 100%);
}
.custom-cuerpo-mounstro{
    background: rgb(204, 77, 8);
    background: linear-gradient(0deg, rgba(204, 77, 8,1) 0%, rgba(88,8,204,0.23862044817927175) 100%);
}
.custom-cuerpo-magia{
    background: rgb(47, 204, 8);
    background: linear-gradient(0deg, rgba(47, 204, 8,1) 0%, rgba(88,8,204,0.23862044817927175) 100%);
}
.custom-cuerpo-trampa{
    background: rgb(204, 8, 155);
    background: linear-gradient(0deg, rgba(204, 8, 155,1) 0%, rgba(88,8,204,0.23862044817927175) 100%);
}
.custom-cuerpo p{
    color:rgb(220, 220, 220)
}