.buscador-custom{
    display: flex;
    flex-direction: column;
    color: white;
   
    text-align: center;
   
}

input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }

  @media only screen and (min-width: 300px) {
    .buscador-custom{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
        }
   
  }
  @media only screen and (min-width: 992px) {
    .buscador-custom{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 40px;
        }
  }